.title {
  background: none;
  font-weight: 500;
  line-height: 24px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-align: left;
  width: 100%;
}

.title > a {
  border-bottom: 1px solid transparent;
  color: var(--card-title-color);
  font-family: var(--font-family-heading);
  font-size: var(--card-title-font-size);
  line-height: var(--card-title-line-height);
  cursor: pointer;
  text-decoration: none;
}

.title > a:hover {
  border-bottom: 1px solid var(--color-primary, #000);
  color: var(--card-title-color-hover, var(--card-title-color));
  transition: all 0.2s linear;
}
