.cardWrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-width: 320px;
  width: fit-content;
}

.cardWrapper > div {
  max-width: 350px;
}

.itemPageWrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-width: 320px;
  width: 100%;
}

.widgetWrapper {
  /* display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-width: 320px;
  width: 100%; */
}
