node_modules/
.DS_Store
dist/
coverage/
build/
storybook-static/
*.log
*.lock
*.tmp
*.cache
*.env
*.tgz
*.zip
*.tar.gz
*.swp
*.bak
*.orig
*.sublime-workspace
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.iml