.themeRoot {
  --font-family-heading: Montserrat, Arial, sans-serif;
  --color-secondary: #2c5d95;
  --card-title-font-size: 17px;
  --card-border: 1px solid #2c5d95;
  --card-border-radius: 16px;
  --card-max-width: 360px;
  --card-top-bg: #2c5d95;
  --icon-label-size: 18px;
  --sidebar-bg: #dee1e6ff;
  --sidebar-border-radius: 16px;
}

.itemPageWrapper {
  margin: 0 auto;
  min-width: 320px;
  max-width: var(--page-max-width);
}
.mainContent {
  display: flex;
  flex-direction: column-reverse;
  padding: 1rem 0 1rem;
}
.sidebar {
  background-color: var(--sidebar-bg);
  border-radius: var(--sidebar-border-radius);
  height: fit-content;
  padding: 1rem 1rem 0;
  margin: 0;
  max-width: 100%;
}
.sidebarList {
  list-style-type: none !important;
  margin: 0;
  padding: 0;
}
.sidebarItem {
  display: flex;
  align-items: center;
  font-size: 1rem;
  padding: 0;
  margin: 0 0 1.5rem;
  background: none; /* overwrite gl styling in prod */
}
.sidebarIcon {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  margin: 0 1rem 0 0;
}
.content {
  flex: 1;
}
.title {
  color: var(--color-secondary);
  font-family: var(--font-family-heading);
  font-size: 1.5rem;
  margin-bottom: 0;
}
.additionalInfo {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  margin: 0 0 2rem 0;
}
.additionalInfoText {
  margin: 0.25rem 0;
}
.itemDesc {
  line-height: 24px !important;
}
.ctaContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

/* Card styles */
.cardContentTop {
  color: #fff;
  margin-bottom: 2rem;
  padding: 1.5rem 1rem;
}

.cardContentTop p {
  font-family: var(--font-family-heading) !important;
}

.authorContainer {
  height: 40px;
  width: 100%;
}

.title {
  line-height: 20px;
  margin: 0 0 0.75rem;
}

.author {
  color: var(--card-text-color-mid);
  font-size: 11px;
  line-height: 1.3em;
  margin: 0;
  text-align: left;
}

.desc {
  color: var(--card-text-color-mid);
  font-size: 13px;
  height: 52px;
  line-height: 18px;
  margin: auto 0;
  text-align: left;
  width: 100%;
}

.yearPublished {
  color: var(--color-primary);
  font-family: var(--font-family-heading) !important;
  font-size: 17px;
  font-weight: 600;
  margin: 12px 0 0 0;
}

@media screen and (min-width: 830px) {
  .title {
    font-size: 2rem;
    line-height: 2.75rem;
    margin-top: 0%;
    padding: 0 0 1rem 0;
    text-align: left;
  }
}

@media screen and (min-width: 1080px) {
  .mainContent {
    flex-direction: row;
    padding: 3rem 0 3rem;
  }
  .sidebar {
    padding: 1.5rem 1.5rem 0;
    margin-right: 2rem;
    max-width: 300px;
  }
  .sidebarItem {
    margin: 0 0 1.5rem;
  }
  .sidebarIcon {
    font-size: 2rem;
    margin: 0 1.5rem 0 0;
  }
  .itemDesc {
    margin: 0 0 5rem 0;
  }
  .ctaContainer {
    flex-direction: row;
  }
}
