.root {
  --font-family-heading: Montserrat, Arial, sans-serif;
  --color-secondary: #2c5d95;
  --card-title-font-size: 17px;
  --card-border: 1px solid #2c5d95;
  --card-border-radius: 16px;
  --card-max-width: 360px;
  --card-top-bg: #2c5d95;
  --icon-label-size: 18px;
  --sidebar-bg: #dee1e6ff;
  --sidebar-border-radius: 16px;
}
