.imgWrapper {
  height: var(--img-height);
  overflow: hidden;
}

.img {
  height: var(--img-height);
  object-fit: contain;
  width: 100%;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  text-align: center;
}

.shortDesc {
  color: var(--card-text-color-mid);
  font-size: 14px;
  height: 52px;
  line-height: 20px;
  text-align: center;
  padding-bottom: 2rem;
}
