.recentlyAddedBorder {
  border-width: 3px;
}

.fileSize {
  color: var(--color-primary);
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}

.part {
  color: var(--color-secondary);
  font-family: var(--font-family-heading);
  font-size: 14px;
  font-weight: 700;
  margin: 0.75rem 0 0.5rem;
  width: 100%;
}

.desc {
  color: var(--card-text-color-mid);
  font-size: 14px;
  height: 52px;
  line-height: 20px;
}

.recentlyAdded {
  margin: 0 0;
  width: 0;
  height: 0;
  border-bottom: 3rem solid var(--color-emphasis);
  border-right: 3rem solid transparent;
  position: absolute;
  bottom: 0;
  left: 0;
}

.recentIcon {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  line-height: 1rem;
  position: absolute;
  left: 0.5rem;
  bottom: 0.5rem;
  z-index: 1;
}
