.itemPageWrapper {
  margin: 0 auto;
  min-width: 320px;
  max-width: var(--page-max-width);
}
.mainContent {
  display: flex;
  flex-direction: column-reverse;
  padding: 2rem 0 1rem;
}
.content {
  flex: 1;
}
.sidebar {
  padding: 2rem 0 0;
  width: 360px;
}
.sidebarList {
  list-style-type: none !important;
  margin: 0;
  padding: 0;
}
.sidebarItem {
  display: flex;
  align-items: center;
  font-size: 1rem;
  padding: 0;
  margin: 0 0 1.5rem;
  background: none; /* overwrite gl styling in prod */
}
.sidebarIcon {
  display: flex;
  align-items: center;
  font-size: 2rem;
  margin: 0 1.5rem 0 0;
}
.sidebarText {
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin: 0;
}

@media (min-width: 960px) {
  .mainContent {
    flex-direction: row;
    padding: 3rem 0 1rem;
  }
  .sidebar {
    padding: 1rem 2rem 0 0;
  }
}
