.base {
  /* Default (fallback) design tokens as CSS variables */
  --font-family-heading: Montserrat, Arial, sans-serif;
  /* --font-family-body: Georgia, serif; */
  --card-title-font-size: 20px;
  --card-title-color: rgb(48, 80, 131);
  --card-text-color-mid: #808080;
  --card-border: 1px solid #e0e0e0;
  --card-border-radius: 4px;
  --color-primary: #0fb5c3;
  --color-secondary: rgb(48, 80, 131);
  --card-max-width: 320px;
  --card-min-height: 320px;
  --card-height: 100%;
  --theme-badge-bg: #eaeaea;
  --theme-badge-font: var(--font-heading, sans-serif);
  --theme-badge-fg: #333;
  --theme-badge-border-radius: 3px;
}

.wrapper {
  background: #fff;
  display: flex;
  flex-direction: column;
  border: var(--card-border);
  border-radius: var(--card-border-radius);
  box-sizing: border-box;
  height: var(--card-height);
  min-height: var(--card-min-height);
  margin: 0.25rem 0;
  max-width: 100%;
  overflow: hidden;
  padding: 1rem;
  position: relative;
  width: 100%;
}

@media (min-width: 600px) {
  .wrapper {
    margin: 0.25rem;
  }
}
