.themeRoot {
  /* Theme-level variable overrides (only differences from base) */
  --wc-border: 1px solid var(--palette-accent-lines);
  --wc-border-radius: 6px;
  --wc-min-height: 320px;
}

.desc {
  color: var(--wc-text-color-mid);
  font-size: 13px;
  height: 52px;
  line-height: 18px;
  margin: auto 0;
  text-align: left;
  width: 100%;
}
.authorContainer {
  height: 40px;
  width: 100%;
}

.author {
  color: var(--wc-text-color-mid);
  font-size: 11px;
  line-height: 1.3em;
  margin: 0;
  text-align: left;
}
