.title {
  color: var(--color-secondary);
  font-family: var(--font-family-heading);
  font-size: 1.5rem;
  margin-top: 3rem;
  padding: 0 1rem;
  text-align: center;
}
.content {
  display: flex;
  flex-direction: column;
  padding: 2rem 0 1rem;
  font-size: 16px;
  line-height: 1.25;
}
.image {
  height: 100%;
}
.ctaBar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 3rem 0;
}
.datapointsWrapper {
  min-width: 320px;
  max-width: 800px;
}
.datapoints {
  list-style-type: none !important;
  margin: 3rem 0 0 0;
  padding: 0;
}
.datapointItem {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 0 1rem;
  background: none;
}

.datapointLabel {
  flex: 0 0 calc(50% - 25%);
  color: var(--color-secondary);
  font-weight: bold;
  margin: 0;
}
.datapointValue {
  font-size: 15px;
  margin: 0;
  width: 100%;
}

@media (min-width: 830px) {
  .title {
    line-height: 34px;
    margin-top: 3rem;
    padding: 0 3rem;
  }
  .ctaBar {
    flex-direction: row;
  }
}

@media (min-width: 1080px) {
  .content {
    flex-direction: row;
    margin: 0 auto;
    max-width: 800px;
    padding: 3rem 0rem 1rem;
  }
  .image {
    margin-right: 1rem;
    width: 50%;
  }
  .datapointWrapper {
    margin: 4rem auto;
    padding: 1rem 2rem 0;
  }
  .datapoints {
    margin: 0;
  }
  .datapointItem {
    flex-direction: row;
  }
  .datapointLabel {
    margin-left: 25%;
  }
  .datapointValue {
    width: 39%;
  }
}
